@model StudentViewModel
@using EvaluationSystem.Models;
@using EvaluationSystem.Helper;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4 class="fw-bold mb-4">Chi tiết sinh viên: <span style="color:red">@Model.FullName</span></h4>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <h5 class="card-header py-3 fw-bold text-success">Thông tin sinh viên</h5>
            <hr class="m-0">
            <div class="card-body">
                <dl class="row">
                    @Html.Hidden("StudentId", Model.Id)
                    @Html.CustomTextViewFor(x => x.Code)
                    @Html.CustomTextViewFor(x => x.FullName)
                    @Html.CustomTextViewFor(x => x.BirthDate)
                    @Html.CustomTextViewFor(x => x.CreatedDate)
                </dl>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <h5 class="card-header py-3 fw-bold text-success">Thông tin khác</h5>
            <hr class="m-0">
            <div class="card-body">
                <dl class="row">
                    @Html.CustomTextViewFor(x => x.ClassName)
                    @Html.CustomTextViewFor(x => x.ClassCode)
                    @Html.CustomTextViewFor(x => x.MajorsName)
                    @Html.CustomTextViewFor(x => x.MajorsCode)
                </dl>
            </div>
        </div>
    </div>
    @*<div class="col-lg-12 mt-4">
        <div class="nav-align-top">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#gridDetail" aria-controls="gridDetail" aria-selected="true">
                        <b>Danh sách lớp</b>
                    </button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active show" id="gridDetail" role="tabpanel">
                    <div id="loading">
                        @Html.Partial("_Loading")
                    </div>
                    @Html.AjaxGrid(Url.Action("DetailGrid"), new { @Id = "detailGrid" })
                </div>
            </div>
        </div>
    </div>*@
</div>