@model StudentViewModel
@using EvaluationSystem.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold mb-4">Chi tiết sinh viên: <span style="color:red">@Model.FullName</span></h4>

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card">
                <!-- Notifications -->
                <div class="table-responsive">
                    <table class="table table-striped table-borderless border-bottom">
                        <tbody>
                            <tr>
                                <td>Họ và Tên</td>
                                <td>@Model.FullName</td>
                            </tr>
                            <tr>
                                <td>Tuổi</td>
                                <td>@Model.Age</td>
                            </tr>
                            <tr>
                                <td>Mã số sinh viên</td>
                                <td>@Model.Code</td>
                            </tr>
                            <tr>
                                <td>Tên lớp</td>
                                <td>@Model.ClassName</td>
                            </tr>
                            <tr>
                                <td>Mã lớp</td>
                                <td>@Model.ClassCode</td>
                            </tr>
                            <tr>
                                <td>Tên ngành</td>
                                <td>@Model.MajorsName</td>
                            </tr>
                            <tr>
                                <td>Mã ngành</td>
                                <td>@Model.MajorsCode</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /Notifications -->
            </div>
        </div>
        <div class="col-md-4 col-sm-6">

            <div class="card">
                <!-- Notifications -->
                <div class="table-responsive">
                    <table class="table table-striped table-borderless border-bottom">
                        <tbody>
                            <tr>
                                <td>Họ và Tên</td>
                                <td>@Model.FullName</td>
                            </tr>
                            <tr>
                                <td>Tuổi</td>
                                <td>@Model.Age</td>
                            </tr>
                            <tr>
                                <td>Mã số sinh viên</td>
                                <td>@Model.Code</td>
                            </tr>
                            <tr>
                                <td>Tên lớp</td>
                                <td>@Model.ClassName</td>
                            </tr>
                            <tr>
                                <td>Mã lớp</td>
                                <td>@Model.ClassCode</td>
                            </tr>
                            <tr>
                                <td>Tên ngành</td>
                                <td>@Model.MajorsName</td>
                            </tr>
                            <tr>
                                <td>Mã ngành</td>
                                <td>@Model.MajorsCode</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /Notifications -->
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card">
                <!-- Notifications -->
                <div class="table-responsive">
                    <table class="table table-striped table-borderless border-bottom">
                        <tbody>
                            <tr>
                                <td>Họ và Tên</td>
                                <td>@Model.FullName</td>
                            </tr>
                            <tr>
                                <td>Tuổi</td>
                                <td>@Model.Age</td>
                            </tr>
                            <tr>
                                <td>Mã số sinh viên</td>
                                <td>@Model.Code</td>
                            </tr>
                            <tr>
                                <td>Tên lớp</td>
                                <td>@Model.ClassName</td>
                            </tr>
                            <tr>
                                <td>Mã lớp</td>
                                <td>@Model.ClassCode</td>
                            </tr>
                            <tr>
                                <td>Tên ngành</td>
                                <td>@Model.MajorsName</td>
                            </tr>
                            <tr>
                                <td>Mã ngành</td>
                                <td>@Model.MajorsCode</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /Notifications -->
            </div>
        </div>
    </div>
</div>