@model IEnumerable<StudentViewModel>
@using EvaluationSystem.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="navbar-nav align-items-center">
        <div class="nav-item d-flex align-items-center">
            <form class="navbar-form navbar-right" role="search" action="@Url.Action("Search", "Student")" method="get">
                <div class="form-group">
                    <input type="text" name="searchTerm"
                           class="form-control border-0 shadow-none"
                           placeholder="Tên hoặc mã số sinh viên"
                           aria-label="Search..." />
                </div>
                
            </form>
        </div>
    </div>
    <h3></h3>
    <!-- Basic Bootstrap Table -->
    <div class="card">
        <h5 class="card-header">Danh sách sinh viên</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Họ và Tên</th>
                        <th>Tuổi</th>
                        <th>MSSV</th>
                        <th>Lớp</th>
                        <th>Ngành</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        i = i + 1;
                        <tr>
                            <td>@i</td>
                            <td>@item.FullName</td>
                            <td>@item.Age</td>
                            <td>@item.Code</td>
                            <td>@(item.ClassCode +" | "+ item.ClassName )</td>
                            <td>@(item.MajorsCode +" | "+ item.MajorsName )</td>
                            <td>
                                <a href="@Url.Action("Edit","Student", new {Id1 = item.Id})">Chinh sua</a>
                                |
                                <a href="@Url.Action("Delete", "Student", new {Id = item.Id})">Xóa</a>
                                |
                                <a href="@Url.Action("Details","Student", new {Id = item.Id})">Chi tiết</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            Sinh viên @ViewBag.StudentA có số tuổi cao nhất
        </div>
    </div>
</div>

