@model CategoryViewModel
@using EvaluationSystem.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var group = ViewBag.Group as string;
}

<h4>Danh sách khóa học</h4>
<div class="card mb-3">
    @*<div class="card-body">
            <div class="row mb-2">
                <div class="col-md-2 px-1">
                    @Html.TextBox("fullName", "", new { @class = "form-control", @placeholder = "Tên sinh viên" })
                </div>
                <div class="col-md-2 px-1">
                    @Html.TextBox("code", "", new { @class = "form-control", @placeholder = "Mã số sinh viên" })
                </div>
                <div class="col-md-2 px-1">
                    @Html.DropDownList("classId", Model.ClassList, new { @class = "form-control" })
                </div>
                <div class="col-md-2 px-1">
                    @Html.DropDownList("majorsId", Model.MajorsList, new { @class = "form-control" })
                </div>
                <div class="col-md-2 px-1">
                    @Html.DropDownList("facultyId", Model.FacultyList, new { @class = "form-control" })
                </div>
            </div>
        </div>*@
    <div style="margin-bottom: 20px; margin-left: 20px">
        <button type="button" class="btn btn-sm btn-primary"
                onclick="OpenPopup('@Url.Action("Create", "Category", new{ IsPopup = true })', 'Thêm khóa học','s', 500)">
            <i class="bx bx-plus-circle"></i>
            Thêm khóa học
        </button>
        @*<button type="button" class="btn btn-sm btn-secondary">Secondary</button>*@
    </div>
</div>
<div class="card mb-3">
    <div class="table-responsive text-nowrap" id="grid-container">
        @Html.AjaxGrid(Url.Action("IndexGrid", new { group = group }))
    </div>
</div>


@section ScriptBottom {
    <script type="text/javascript">
        $(document).ready(function () {
            new MvcGrid(document.querySelector('.mvc-grid'));
        });

        $(document).ready(function () {
            var group = '@group';
            $.ajax({
                url: '@Url.Action("IndexGrid", new { group = group })',
                type: 'GET',
                success: function (data) {
                    $('#grid-container').html(data);
                }
            });
        });

        function ClosePopupAndReloadGrid() {
            ClosePopup();
            ReloadGrid();
        }

        function DeleteItem(Id) {
            if (confirm('Bạn có chắc muốn xóa sinh viên?')) {
                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: "POST",
                    data: { Id: Id },
                    success: function (res) {
                        alert(res.message, res.type)
                        ReloadGrid();
                    }
                });
            }
        }

        function ReloadGrid() {
            var grid = new MvcGrid(document.querySelector('.mvc-grid'));
            grid.reload();
        }

    </script>
}


