@model IEnumerable<MajorsViewModel>
@using EvaluationSystem.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <h5 class="card-header">Chuyên ngành</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên ngành</th>
                        <th>Mã ngành</th>
                        <th>Khoa</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        i = i + 1;
                        <tr>
                            <td>@i</td>
                            <td>@(item.Name)</td>
                            <td>@item.Code</td>
                            <td>@(item.FacultyCode +" | "+ item.FacultyName)</td>

                            <td>
                                <a href="@Url.Action("Edit","Majors", new { Id = item.Id})">Chỉnh sửa</a> | 
                                <a href="@Url.Action("Delete","Majors", new {Id= item.Id})">Xóa</a> | 
                                <a href="@Url.Action("Details","Majors", new {Id= item.Id})">Chi tiết</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


