@model FacultyViewModel
@using EvaluationSystem.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isPop = Request["IsPopup"];
    Layout = "~/Views/Shared/" + (isPop == null ? "_Layout.cshtml" : "_PopupLayout.cshtml");

}


<div class="card-header d-flex align-items-center justify-content-between">
    <h5 class="mb-0">Chỉnh sửa khoa</h5>
</div>
<div class="card-body">
    @using (Html.BeginForm("Edit", "Faculty", FormMethod.Post))
    {
        <input name="IsPopup" type="hidden" value="@Request["IsPopup"]" />
        @Html.HiddenFor(x => x.Id)
        <div class="row mb-3">
            @Html.LabelFor(x => x.Name, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", style = "" })
                @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="row mb-3">
            @Html.LabelFor(x => x.Code, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Code, new { @class = "form-control", style = "" })
                @Html.ValidationMessageFor(x => x.Code, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    }
</div>
<!-- / Content -->
<!-- Footer -->
