@model ClassViewModel
@using EvaluationSystem.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold mb-4">Chi tiết sinh viên: <span class="text-success">@Model.Name</span></h4>
    

    <div class="row">
        <div class="col-md-6 md-4">
            <div class="card">
                <!-- Notifications -->
                <div class="table-responsive">
                    <table class="table table-striped table-borderless border-bottom">
                        <tbody>
                            <tr>
                                <td>Tên lớp</td>
                                <td>@Model.Name</td>
                            </tr>
                            <tr>
                                <td>Mã lớp</td>
                                <td>@Model.Code</td>
                            </tr>
                            <tr>
                                <td>Ngày tạo</td>
                                <td>@Model.CreatedDate</td>
                            </tr>
                            <tr>
                                <td>Mã ngành</td>
                                <td>@Model.MajorsCode</td>
                            </tr>
                            <tr>
                                <td>Tên ngành</td>
                                <td>@Model.MajorsName</td>
                            </tr>
                            <tr>
                                <td>Sỉ số sinh viên</td>
                                <td>@Model.CountStudent</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /Notifications -->
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 20px; padding-bottom: 20px">
        <div class=" md-4">
            <div class="card">
                <h5 class="card-header">Danh sách lớp</h5>
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Họ và Tên</th>
                                <th>Tuổi</th>
                                <th>MSSV</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            @foreach (var item in Model.StudentsList)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@item.FullName</td>
                                    <td>@item.Age</td>
                                    <td>@item.Code</td>
                                    <td>
                                        <a href="@Url.Action("Edit","Student", new {Id1 = item.Id})">Cập nhật</a>
                                        |
                                        <a href="@Url.Action("Delete", "Student", new {Id = item.Id})">Xóa</a>
                                        |
                                        <a href="@Url.Action("Details","Student", new {Id = item.Id})">Chi tiết</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

