@model IEnumerable<ClassViewModel>
@using EvaluationSystem.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}
<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Basic Bootstrap Table -->

    <div class="card">
        <h5 class="card-header" style="padding-top: 20px; padding-bottom: 20px">Danh sách lớp</h5>
        <div style="margin-bottom: 20px; margin-left: 20px">
            <button type="button" class="btn btn-sm btn-primary"
                    onclick="OpenPopup('@Url.Action("Create", "Class", new{ IsPopup = true })', 'Thêm lớp','s', 500)">
                Thêm lớp
            </button>
            <button type="button" class="btn btn-sm btn-secondary">Secondary</button>
        </div>

        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã lớp</th>
                        <th>Tên lớp</th>
                        <th>Ngành</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        i = i + 1;
                        <tr>
                            <td>@i</td>
                            <td>@(item.Code) </td>
                            <td>@item.Name</td>
                            <td>@(item.MajorsCode +" | "+item.MajorsName)</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu" style="">
                                        <a class="dropdown-item" href="@Url.Action("Details", "Class", new { Id = item.Id })"><i class="bx bx-detail me-1"></i> Chi tiết</a>
                                        <a class="dropdown-item" onclick="OpenPopup('@Url.Action("Edit", "Class", new{ IsPopup = true,  Id = item.Id})', 'Cập nhật','s', 500)"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                        <a class="dropdown-item" href="@Url.Action("Delete", "Class", new { Id = item.Id })"><i class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                            @*<td>
                                <a href="OpenPopup('@Url.Action("Create", "Class", new{Id = item.Id, IsPopup = true })', 'Thêm lớp','lg', 500)">Chỉnh sửa</a> |
                                <a href="@Url.Action("Delete", "Class", new { Id = item.Id})">Xóa</a> |
                                <a href="@Url.Action("Details","Class", new {Id= item.Id })">Chi tiết</a>
                            </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





